.main_border {
    border:1px solid #000000;
}

body {
    background-image:url(img/bg.jpg);
    font-family:Verdana, Arial, Helvetica,  sans-serif;
    font-size:12px;
    color: #424242;
}

.left {
    background-color:#f6f6f6;
    border-right:1px solid #424242;
}

p{
    font-family:Verdana, Arial, Helvetica,  sans-serif;
    font-size:12px;
    color: #424242;
    margin:15px;
}

.nav_title {
    margin-top:15px;
    margin-left:5%;
    margin-right:5%;
    font-weight:bold;
    text-align:center;
    border-left:4px solid #cc0000;
    border-bottom:1px solid #424242;
}

.nav_link {
    color: #333333;
    font-size:11px;
    margin-top:10px;
    margin-bottom:10px;
}

.post {
    border:1px
    solid
    #cccccc;
    width:95%;
}

.post_title{
    background-color:#f6f6f6;
}

.post_name {
    font_weight:bold;
    margin-top:7px;
    margin-bottom:7px;
}

.post_adds {
    font-size: 11px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #424242;
}

.post_view {
    font-size:11px;
    color: #666666;
}

.mini {
    border:1px solid #000000;
    margin-right:10px;
}

.post_add {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:bold;

}

.post_title1{
    font-size: 16px;
    font-weight:bold;
    color:#424242;
    text-align:center;
    background-color:#f6f6f6;
}

.post_comments {
    font-size: 10px;
    font-weight:bold;
    color: #cc0000;

}

.post_comments_add{
    font-size:11px;
}

.post_div {
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin:15px;
}

.search_t {
    font-size:11px;

}

.search_b {
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
    margin-top:6px;
}

.nav_t {
    border-bottom:1px solid #424242;
    border-top:3px solid #119F3A;
    border-right: 1px solid #424242;
    background-color: #f6f6f6;
}

.nav_t a {
    color: #424242;
}

.nav_a {
    border-bottom:1px solid #424242;
    border-top:3px solid #cc0000;
    border-right: 1px solid #424242;
    background-color: #f6f6f6;
}

.nav_a a {
    color: #424242;
}