.main_border {border:1px solid #000000;}
p {
    font-family:Verdana;
    font-size: 12px;
    margin:15px}

.left {
    background: #f6f6f6;
    border-right:1px solid #424242;
}
body {
    background-image:url(img/bg.jpg)
}

p.title {
    background-color: #2275AD;
    color: #ffffff;
    font-weight:bold;
    margin:5px;
    padding:5px;
}

#coolmenu{
    border: 1px solid gray; /*style border */
    border-bottom-width: 0;
    width: 93%; /*width menu */
    background-color: #f6f6f6;  /*‘main color of box*/
    margin:8px; /*width otstupa*/
}

* html #coolmenu{
    width: 150px;/*width */
}

#coolmenu a{
    font: bold 13px Verdana; /*Style texte*/
    padding: 2px;
    padding-left: 4px;
    display: block;
    width: 100%;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

html>body #coolmenu a{
    width: auto;
}

#coolmenu a:hover{
    background-color: #cccccc;
    color: #000000;
}
.lesson {
    border:1px
    solid
    #cccccc;
    width:95%;
}

.lesson_title{
    background-color:#f6f6f6;
}

.lesson_name {
    font_weight:bold;
    margin-top:7px;
    margin-bottom:7px;
}

.lesson_adds {
    font-size:11px;
    margin-top:7px;
    margin-bottom:7px;
    color:#424242;
}

.view_title {
    font-size:16px;
    font-weight:bold;
    color:#cc0000;
    text-align:center;
}

.view_date {
    font-size:11px;
    color:#424242;
    margin-top:7px;
    margin-bottom:7px;
    font-weight:bold;
}